*$py.class
__pycache__/
*.py[cod]
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
build/
dist/

.ipynb_checkpoints/
*.ipynb_checkpoints

venv/
env/
.venv/
.env

data_object_image_2/
data_object_label_2/
data_object_calib/
data_object_velodyne/
data_tracking_image_2/
data_tracking_label_2/
data_tracking_calib/
devkit/
devkit_object/

yolo_kitti/

*.pt
*.pth
*.onnx
*.engine
weights/

runs/
kitti_runs/
*.csv
!requirements.txt

*.zip
*.tar
*.tar.gz

.DS_Store
Thumbs.db
.idea/
.vscode/

drive//*.jpeg
/*.jpg
*.pt
/*.png

